@*@model ShoppingCartViewModel
<div class="col-12 d-md-flex justify-content-md-between  Game-Shopping-Item">
    <div class="d-md-flex col-md-6 p-md-0 px-0">
        <img src="@Html.Raw(Model.GameUrl)" alt="@Html.Raw(Model.GameName)" class="Template_img w-100">
    </div>
    <div class="col-md-6 Game-Price p-0 ">
        <h2 class="Select-Game-Title pl-md-3 d-block">@Html.Raw(Model.GameName)</h2>
        <div class="col-md-12 p-0 pl-md-3  d-flex justify-content-between">
            <p class=" d-inline-block font-weight-bold">遊戲價格:</p>
            <p class="Select-Item-Price">@Html.Raw(Model.GamePrice)</p>
        </div>
        <form  method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="GameId"/>
            <input type="hidden" asp-for="UserId"/>
            <input type="submit" asp-action="RemoveShoppingItem" value="移除" class="Remove_btn"/>
        </form>
    </div>
</div>*@