@model List<GameViewModel>;

<div class="row no-gutters" style="margin:0px 15px">
    <div class="part-space d-none d-lg-block col-2 ">
        <img class="w-100" href=""
             src="https://store.cloudflare.steamstatic.com/public/images//gift/steamcards_promo_02.png" alt="">
        <br>
        <ul class=" list-unstyled ">
            禮物卡

        </ul>

        <ul class=" list-unstyled ">
            推薦
            <li>
                <a href="">
                    <ion-icon name="people-outline"></ion-icon>好友
                </a>
            </li>
            <li>
                <a href="">
                    <ion-icon name="pricetags-outline"></ion-icon>標籤
                </a>
            </li>
        </ul>

        <ul class=" list-unstyled ">
            瀏覽分類
            <li><a href="">暢銷商品</a></li>
            <li><a href="">新推出</a></li>
            <li><a href="">即將發行</a></li>
            <li><a href="">特惠</a></li>
            <li><a href="">VR 相關產品</a></li>
            <li><a href="">支援控制器</a></li>
        </ul>

        <ul class=" list-unstyled ">
            依類型瀏覽
            <li><a href="">免費遊玩</a></li>
            <li><a href="">搶先體驗</a></li>
            <li><a href="">休閒</a></li>
            <li><a href="">冒險</a></li>
            <li><a href="">動作</a></li>
            <li><a href="">大型多人連線</a></li>
            <li><a href="">模擬</a></li>
            <li><a href="">獨立</a></li>
            <li><a href="">競速</a></li>
            <li><a href="">策略</a></li>
            <li><a href="">角色扮演</a></li>
            <li><a href="">運動</a></li>
        </ul>
    </div>

    <div class="col-12 col-lg-10">
        <!-- 精選與推薦 -->
        <section class="part-space">
            <h2>精選與推薦</h2>
            <div class="swiper featured"
                 style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff">
                <div id="featured-wrapper" class="swiper-wrapper">
                    @foreach (var g in Model)
                    {

                        <div id="featured-item" class="swiper-slide">
                            <div class="row no-gutters">
                                <div class="col-12 col-md-8 ">
                                    @foreach (var img in g.MainImgUrl)
                                    {
                                        <img class="w-100" src="@img">
                                        @*src="https://cdn.cloudflare.steamstatic.com/steam/apps/1172470/capsule_616x353.jpg?t=1653320846">*@

                                    }
                                </div>

                                <div class=" d-none d-md-block col-md-4 text-left" style="flex-shrink: 1;">

                                    <h3 style=" margin-left: 10px;">@g.Name</h3>

                                    <div class="d-none d-md-flex flex-wrap">
                                        @foreach (var img in g.ImgUrlList)
                                        {
                                            <img class="col-6" style="padding: 5px;" src="@img">
                                            @*src="https://cdn.cloudflare.steamstatic.com/steam/apps/1172470/ss_f54995556d65b9c6a7aae3d3c18ea0707a7122d6.600x338.jpg">*@

                                        }
                                    </div>

                                    <h4 class="d-none d-md-block game-h4" style="margin-bottom: 0px;">{是否推出}</h4>
                                    <div class="d-none d-md-flex" style="margin-left: 10px;">
                                        @foreach (var type in g.Types)
                                        {
                                            <span class="category-tag">@type</span>
                                        }
                                    </div>
                                    <div class=" game-featured-down ">
                                        <p class="price" style="margin-left: 5px;">
                                            <span class="discount">@g.Discount</span>
                                            <span class="original-price">@g.OriginalPrice</span>
                                            <span class="discount-price">{折價後價格}</span>
                                        </p>
                                        <div class="d-none d-md-flex" style="margin-right:5px;">
                                            <img src="https://picsum.photos/20/20/?random=10">
                                            <img src="https://picsum.photos/20/20/?random=10">
                                            <img src="https://picsum.photos/20/20/?random=10">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination "></div>
            </div>
        </section>
        <!-- 特別優惠 -->
        <section class="part-space">
            <!-- specxial_discount -->
            <div class="d-flex justify-content-between">
                <h2>特別優惠</h2>
                <div>
                    <button class=" btn-sm btn-secondary">瀏覽更多</button>
                </div>
            </div>
            <div class="swiper SpecialDiscount"
                 style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff">
                <div id="SpecialDiscount-wrapper" class="swiper-wrapper ">
                    <template>
                        <div class="swiper-slide">
                            <div>
                                <img src="https://picsum.photos/1200/800/?random=10">
                                <div class="text-left">
                                    <h3 class=" mb-0" style="margin-left: 10px;">周末特價</h3>
                                    <small style="margin-left: 10px;">特惠將於 6 月 21 日 上午 1:00 截止。</small>
                                    <h4 style="margin-left: 10px;">最高可省 <span class=" discount">-90%</span></h4>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination "></div>
            </div>
        </section>
    </div>

    <div class="col-12">
        <!-- 個人化推薦項目 -->
        <div class="personalRecommed part-space text-center">
            <p>
                登入以檢視個人化推薦項目 <br>
                <a class="btn btn-success" style="margin-top: 20px;margin-bottom: 20px;" href="">登入</a><br>
                或免費<a href="">註冊</a>並加入 Steam
            </p>
        </div>
        <!-- 瀏覽 STEAM(四個按鈕) -->
        <section class="part-space">
            <h2>瀏覽steam</h2>
            <div class="d-flex flex-wrap justify-content-between">
                <button id="viewSteamBtn" class="btn-primary rounded">新推出</button>
                <button id="viewSteamBtn" class="btn-primary rounded">特惠</button>
                <button id="viewSteamBtn" class="btn-primary rounded">免費遊戲</button>
                <button id="viewSteamBtn" class="btn-primary rounded">依使用者標籤</button>
            </div>
        </section>
        <!-- 熱門 VR 遊戲 -->
        <section class="part-space">
            <div class="d-flex justify-content-between">
                <h2>熱門VR遊戲</h2>
                <div>
                    <button class=" d-md-none" href="">更多></button>
                    <button class="btn-sm btn-secondary d-none d-md-flex">瀏覽全部</button>
                </div>
            </div>

            <div class="swiper popVRGame"
                 style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff">
                <div id="popVRGame-wrapper" class="swiper-wrapper">
                    <template>
                        <div class="swiper-slide">
                            <div>
                                <img src="https://picsum.photos/300/200/?random=10">
                                <div class="d-flex justify-content-end">
                                    <span>NT$ 186</span>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination "></div>
            </div>
        </section>
        <!-- 新品與話題商品、暢銷商品、熱門即將發行、特惠 -->
        <div class="d-flex part-space">
            <div class=" d-flex flex-wrap" style="width: 100%;">
                <nav style="width: 100%;margin-bottom: 10px;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <!-- 1 -->
                        <a class="nav-link active" id="nav-new-tab" data-toggle="tab" href="#nav-new" role="tab"
                           aria-controls="nav-new" aria-selected="true">新品與話題商品</a>
                        <!-- 2 -->
                        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab" aria-controls="nav-profile" aria-selected="false">暢銷商品</a>
                        <!-- 3 -->
                        <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                           role="tab" aria-controls="nav-contact" aria-selected="false">熱門即將發行</a>
                        <!-- 4 -->
                        <a class="nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab"
                           aria-controls="nav-4" aria-selected="false">特惠</a>
                    </div>
                </nav>

                <div class="tab-content tab-game-left" id="nav-tabContent" style="padding: 0;">
                    <!-- 1的內容 -->
                    <div class="tab-new tab-pane fade show active" id="nav-new" role="tabpanel"
                         aria-labelledby="nav-new-tab">
                        <div class=" game-body d-flex justify-content-end"
                             style="width: 100%; margin-bottom: 10px;">
                            <div>
                                <p class=" mb-0">查看更多: <a class="btn btn-outline-dark" href="">新推出</a></p>
                            </div>
                        </div>
                        <template>
                            <a style="width: 100%;" href="">
                                <div class="game-body"
                                     style="width: 100%;padding: 5px 0 5px 5px;margin-bottom: 10px;">
                                    <div class="d-flex">
                                        <img src="https://picsum.photos/184/69/?random=10">
                                        <div class=" d-flex " style="width: 100%;position: relative;">
                                            <div class=" d-none d-sm-block"
                                                 style="margin-left: 10px;padding-top: 5px;">
                                                <h5 class="mb-0">遊戲名</h5>
                                                <img class=" d-block"
                                                     src="https://picsum.photos/15/15/?random=10">
                                                <small class="text-muted">遊戲類型標籤</small>
                                            </div>
                                            <div class="tab-game-price">
                                                <span class=" discount">-25%</span>
                                                <div style="width: 100%;">
                                                    <div class=" original-price">NT$ 560</div>
                                                    <div class=" discount-price">NT$ 426</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </template>
                    </div>
                    <!-- 2的內容 -->
                    <div class="tab-bestSell tab-pane fade" id="nav-profile" role="tabpanel"
                         aria-labelledby="nav-profile-tab">
                        <div class=" game-body d-flex justify-content-end"
                             style="width: 100%; margin-bottom: 10px;">
                            <div>
                                <p class=" mb-0">查看更多: <a class="btn btn-outline-dark" href="">新推出</a></p>
                            </div>
                        </div>
                        <template>
                            <a style="width: 100%;" href="">
                                <div class="game-body"
                                     style="width: 100%;padding: 5px 0 5px 5px; margin-bottom: 10px;">
                                    <div class="d-flex">
                                        <img src="https://picsum.photos/184/69/?random=10">
                                        <div class=" d-flex " style="width: 100%;position: relative;">
                                            <div class=" d-none d-sm-block"
                                                 style="margin-left: 10px;padding-top: 5px;">
                                                <h5 class="mb-0">遊戲名</h5>
                                                <img class=" d-block"
                                                     src="https://picsum.photos/15/15/?random=10">
                                                <small class="text-muted">遊戲類型標籤</small>
                                            </div>
                                            <div class="tab-game-price">
                                                <span class=" discount">-25%</span>
                                                <div style="width: 100%;">
                                                    <div class=" original-price">NT$ 560</div>
                                                    <div class=" discount-price">NT$ 426</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </template>
                    </div>
                    <!-- 3的內容 -->
                    <div class="tab-hotBePost tab-pane fade" id="nav-contact" role="tabpanel"
                         aria-labelledby="nav-contact-tab">
                        <div class=" game-body d-flex justify-content-end"
                             style="width: 100%; margin-bottom: 10px;">
                            <div>
                                <p class=" mb-0">查看更多: <a class="btn btn-outline-dark" href="">新推出</a></p>
                            </div>
                        </div>
                        <template>
                            <a style="width: 100%;" href="">
                                <div class="game-body"
                                     style="width: 100%;padding: 5px 0 5px 5px; margin-bottom: 10px;">
                                    <div class="d-flex">
                                        <img src="https://picsum.photos/184/69/?random=10">
                                        <div class=" d-flex " style="width: 100%;position: relative;">
                                            <div class=" d-none d-sm-block"
                                                 style="margin-left: 10px;padding-top: 5px;">
                                                <h5 class="mb-0">遊戲名</h5>
                                                <img class=" d-block"
                                                     src="https://picsum.photos/15/15/?random=10">
                                                <small class="text-muted">遊戲類型標籤</small>
                                            </div>
                                            <div class="tab-game-price">
                                                <span class=" discount">-25%</span>
                                                <div style="width: 100%;">
                                                    <div class=" original-price">NT$ 560</div>
                                                    <div class=" discount-price">NT$ 426</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </template>
                    </div>
                    <!-- 4的內容 -->
                    <div class="tab-specialDiscount tab-pane fade" id="nav-4" role="tabpanel"
                         aria-labelledby="nav-4-tab">
                        <div class=" game-body d-flex justify-content-end"
                             style="width: 100%; margin-bottom: 10px;">
                            <div>
                                <p class=" mb-0">查看更多: <a class="btn btn-outline-dark" href="">新推出</a></p>
                            </div>
                        </div>
                        <template>
                            <a style="width: 100%;" href="">
                                <div class="game-body"
                                     style="width: 100%;padding: 5px 0 5px 5px;margin-bottom: 10px;">
                                    <div class="d-flex">
                                        <img src="https://picsum.photos/184/69/?random=10">
                                        <div class=" d-flex " style="width: 100%;position: relative;">
                                            <div class=" d-none d-sm-block"
                                                 style="margin-left: 10px;padding-top: 5px;">
                                                <h5 class="mb-0">遊戲名</h5>
                                                <img class=" d-block"
                                                     src="https://picsum.photos/15/15/?random=10">
                                                <small class="text-muted">遊戲類型標籤</small>
                                            </div>
                                            <div class="tab-game-price">
                                                <span class=" discount">-25%</span>
                                                <div style="width: 100%;">
                                                    <div class=" original-price">NT$ 560</div>
                                                    <div class=" discount-price">NT$ 426</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </template>
                    </div>
                </div>

                <div class="tab-game-right">
                    <div>
                        <h3>遊戲名</h3>
                        <p class="text-muted">遊戲類型標籤</p>
                        <div style="font-size: 0.7em;">
                            <img class="pic-space" src="https://picsum.photos/300/200/?random=10">
                            <img class="pic-space" src="https://picsum.photos/300/200/?random=10">
                            <img class="pic-space" src="https://picsum.photos/300/200/?random=10">
                            <img class="pic-space" src="https://picsum.photos/300/200/?random=10">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- 低於NT$300 -->
        <section class="part-space">
            <div class=" d-flex justify-content-between">
                <h2>低於NT$300</h2>
                <div class=" d-none d-md-flex">
                    <button class="btn-sm btn-secondary mr-1">低於 NT$ 300</button>
                    <button class="btn-sm btn-secondary">低於 NT$ 150</button>
                </div>
            </div>
            <div class="swiper lossThenThreeH"
                 style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff">
                <div id="lossThenThreeH-wrapper" class="swiper-wrapper">
                    <template>
                        <div class="swiper-slide">
                            <div>
                                <img src="https://picsum.photos/300/200/?random=10">
                                <div class="d-flex justify-content-end">
                                    <span style="margin-right: 10px;">NT$ 186</span>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination "></div>
            </div>
            <div class="d-md-none d-flex justify-content-center" style="margin-top: 10px;">
                <button class=" btn-sm btn-secondary mr-1">低於 NT$ 300</button>
                <button class=" btn-sm btn-secondary">低於 NT$ 150</button>
            </div>
        </section>
        <!-- 更新與優惠 -->
        <section class="reNew part-space">
            <h2>更新與優惠</h2>
            <div class="row">
                <div class="col-12 col-md-5 small">
                    <a href="#" class=" d-inline-block">
                        <img src="https://picsum.photos/1000/800/?random=10" class="w-100 big">
                        <div class="game-body">
                            <div class=" d-flex justify-content-end ">
                                <p class="price">
                                    <span class="discount">-30%</span><span class="original-price">NT$100</span><span class="discount-price">NT$70</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-7 ">
                    <div class="row">
                        <div class="col-6 col-md-4 small">
                            <a href="#" class=" d-inline-block">
                                <img src="https://picsum.photos/1000/800/?random=10" class="w-100">
                                <div class="game-body">
                                    <div class=" d-flex justify-content-end ">
                                        <p class="price">
                                            <span class="discount">-30%</span><span class="original-price">NT$100</span><span class="discount-price">NT$70</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-6 col-md-4 small">
                            <a href="#" class=" d-inline-block">
                                <img src="https://picsum.photos/1000/800/?random=10" class="w-100">
                                <div class="game-body">
                                    <div class=" d-flex justify-content-end ">
                                        <p class="price">
                                            <span class="discount">-30%</span><span class="original-price">NT$100</span><span class="discount-price">NT$70</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-6 col-md-4 small">
                            <a href="#" class=" d-inline-block">
                                <img src="https://picsum.photos/1000/800/?random=10" class="w-100">
                                <div class="game-body">
                                    <div class=" d-flex justify-content-end ">
                                        <p class="price">
                                            <span class="discount">-30%</span><span class="original-price">NT$100</span><span class="discount-price">NT$70</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-6 col-md-4 small">
                            <a href="#" class=" d-inline-block">
                                <img src="https://picsum.photos/1000/800/?random=10" class="w-100">
                                <div class="game-body">
                                    <div class=" d-flex justify-content-end ">
                                        <p class="price">
                                            <span class="discount">-30%</span><span class="original-price">NT$100</span><span class="discount-price">NT$70</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-6 col-md-4 small">
                            <a href="#" class=" d-inline-block">
                                <img src="https://picsum.photos/1000/800/?random=10" class="w-100">
                                <div class="game-body">
                                    <div class=" d-flex justify-content-end ">
                                        <p class="price">
                                            <span class="discount">-30%</span><span class="original-price">NT$100</span><span class="discount-price">NT$70</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-6 col-md-4 small">
                            <a href="#" class=" d-inline-block">
                                <img src="https://picsum.photos/1000/800/?random=10" class="w-100">
                                <div class="game-body">
                                    <div class=" d-flex justify-content-end ">
                                        <p class="price">
                                            <span class="discount">-30%</span><span class="original-price">NT$100</span><span class="discount-price">NT$70</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
@section Css{
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<link rel="stylesheet" href="~/css/Game/Game.css" asp-append-version="true" />
}
@section Scripts{
<script src="~/js/Game/Game.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="~/js/Game/Swiper.js"></script>
 }